.banner {
  height: 100vh;
  background-size: cover;
  background-position: 100% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content {
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
}

.banner h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;

}

.banner h2 {
  color: #88fea7;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
}

.logo {
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  text-shadow: 1px 1px 0px #333333;
}

@media (min-width: 768px) {
  .banner h1 {
    font-size: 2rem;
  }
  .banner h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .banner {
    height: 75vh;
  }
  .content {
    height: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .banner h1 {
    font-size: 3rem;
  }
  .banner h2 {
    font-size: 2rem;
  }
  .logo {
    font-size: 24px;
  }
}
